header{
    color: black;
    height: 10vh;
    text-align: center;
    border: 1px solid red;

}
main{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    /* border: 1px solid red; */

}
main div{
height: auto;
border: 1px solid red;


}
footer{
    color: black;
    height: 10vh;
    text-align: center;
    border: 1px solid red;

}
